<table class="table table-striped">
  <thead>
    <th>Code</th>
    <th>Taken By</th>
    <th></th>
  </thead>
  <tbody>
    <% @share.redeemables.each do |code| %>
    <tr>
      <td><%= code.code %></td>
      <td>
        <% if code.redeemer %>
        @<%= link_to code.redeemer.nickname, "http://twitter.com/#{code.redeemer.nickname}/" %>
        <% end %>
      </td>
      <td>
        <%= link_to_if code.redeemer.nil?, "Remove", share_redeemable_path(@share, code), 
        :class=> "btn btn-mini btn-danger", 
        :method => :delete, :confirm => "Are you sure? This cannot be reversed." %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
