<div class="row">
<div class="span8">
<div class="hero-unit">
  <h1>Hello, Promo</h1>
  <p>Exchanging app promo codes for tweets.</p>
  <div class="well"><h4>Sample Tweet</h4><p><%= sample_tweet %></p></div>
</div>
</div>
</div>
<div class="row">
<div class="span8" style="text-align:center">
  <p>
    <%= link_to "Create A Share", new_share_path, :class => "btn btn-primary btn-large" %>
    <%= link_to "View Shares &amp; Codes".html_safe, profile_path, :class => "btn btn-large" %>
  </p>
</div>
</div>